<!DOCTYPE html>
<html>
  <head>
    <title>Schumacher Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <p> Matchups - Dot</p>
        <ul>
        {% for matchup in dot_scoreboard %}
        <li> {{matchup.home_team.team_name}}({{matchup.home_team.owner}}) {{matchup.home_score}} pts vs {{matchup.away_team.team_name}}({{matchup.away_team.owner}}) {{matchup.away_score}} pts </li>
        {% endfor %}
        </ul>
         <p> Matchups - Bob</p>
        <ul>
        {% for matchup in bob_scoreboard %}
        <li> {{matchup.home_team.team_name}}({{matchup.home_team.owner}}) {{matchup.home_score}} pts vs {{matchup.away_team.team_name}}({{matchup.away_team.owner}}) {{matchup.away_score}} pts </li>
        {% endfor %}
        </ul>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>